@font-face {
    font-family: Font;
    src: url('../font/IRAN-Rounded.woff');
}

* {
    transition: all 250ms ease-in-out;
}

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    background-color: #eee4e4;
    color: rgba(58, 57, 57, 0.904);
    font-family: Font;

}

header {
    width: 100%;
    text-align: center;

}

header img {
    width: 200px;
    max-height: 65px;
    border-radius: 10px;
    margin: 7px;
    margin-top: 19px;
    margin-bottom: 20px;
    float: left;
}

header>section {
    background: #748DAE;
    box-shadow: 10px 10px 20px#9a9595,
        -10px -10px 20px #fffdfd;
    max-width: 1000px;
    width: 900px;
    height: 100px;
    margin: 30px auto auto;
    padding: 0 20px;
    border: 5px solid #F5CBCB;
    outline: 3px solid #748DAE;
    border-radius: 10px;

}

header div {
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
}

header div input {
    font-size: 18px;
    border-radius: 10px;
    font-family: Font;
    border: 3px solid #F5CBCB;
    color: #3674c4;
}

header a {
    max-width: 110px;
    text-decoration: none;
    color: #F5CBCB;
    font-size: 17px;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    white-space: nowrap;
    font-weight: 500;

}

header a:hover {
    background-color: #ebcdcd;
    color: #3571be;
    transform: translateY(-3px);
    box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #e6e3e3, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
}

.products {
    max-width: 2000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;


}

.product_box {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 250px;
    margin: 15px;
    border-radius: 45px;
    background: #e0e0e0;
    box-shadow: 5px 5px 10px #bebebe,
        -5px -5px 10px #ffffff;
    position: relative;
}

.product_box:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.product_box>img {
    width: 100%;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}


.product_box>h3 {
    color: #444343;
    text-align: center;
    white-space: nowrap;

}

.product_box>a {
    text-decoration: none;
    color: #3070c4e1;
    font-size: 18px;
    margin: 75px;
    font-weight: 600;
    transition: color 0.4s ease-in-out;

}

.product_box>a:hover {
    color: #0d1be9e8;


}

.tag {
    position: absolute;
    top: 265px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    background-color: #2e62a7f3;
    color: #f8c8f0;
    margin: auto;
    border: 4px double #F5CBCB;
    filter: none;
}

.tag>img {
    width: 40px;
    margin-left: 5px;

}

.tag2 {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    background-color: rgba(204, 28, 28, 0.87);
    color: #e0e0e0;
    border-radius: inherit;
    padding: 5px;
}

#tag2 {
    background-color: #4caf4fe1;
    color: rgba(36, 34, 34, 0.788);
    border: 2px solid rgba(54, 53, 52, 0.788);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.add-to-cart {
    max-width: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 6px;
    font-family: Font;
    padding: 5px;
    background-color: #F5CBCB;
    border: 1px solid #2a72cf;
    outline: 2px solid rgba(58, 57, 57, 0.904);
    margin-top: 30px;

}

.add-to-cart img {
    width: 40px;
    float: right;
    margin-left: 2px;
}

.add-to-cart a {
    text-decoration: none;
    transition: all 0.3s ease;
    padding: 2px;
    border-radius: 6px;
    font-size: 18px;
    float: left;
    color: #2e62a7f3;
}

.add-to-cart:hover {
    background-color: #d1a5a5da;
}

.tag-in-product {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    max-width: 255px;
    background-color: #2e62a7f3;
    color: #f8c8f0;
    border: 4px double #F5CBCB;
    border-radius: 6px;
    filter: none;
    padding: 3px;
    margin-top: 30px;

}

.tag-in-product img {
    width: 40px;
    margin-left: 5px;
}


.product-detail-box {
    max-width: 1000px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    margin: auto;
}

.product-detail-box>section {
    max-width: 500px;
    font-size: 20px;
    align-items: center;
    margin: auto;

}

.product-detail-box label {
    margin-top: 1px;
    margin-bottom: 1px;
}

.product-colors {
    width: 216px;
    background-color: #2a72cf;
    color: #f8c8f0;
    font-family: Font;
    font-size: 17px;
    margin-top: 20px;
    border-radius: 5px;
}

.product-colors:focus {
    background-color: #F5CBCB;
    color: #2a72cf;
}

.similar-products-box {
    max-width: 1100px;
    margin: auto;
}

.similar-products-box h1 {
    margin-right: 55px;
    padding: 5px;
    box-shadow: 10px 10px 10px #444343;
}
#header-menu-icon {
    display: none;
    width: 50px;
    float: right;
    align-items: center;
    
}
@media (max-width:912px) {
    header>section>div {
        display:none;
        position: absolute;
        left: 0;
        right:0;
        top:0;
        border: 5px solid #F5CBCB;
        outline: 3px solid #748DAE;
        border-radius: 10px;
        background-color: #748DAE;
        padding: 5px;
        z-index: 99;
        height: 0;
        overflow: hidden;

    }
    #header-menu-icon{
        display: block;
    }
    header  img{
        float: left;
        
    }

    header>section>div>* {
        display: block;
    }
    header>section{
        width: 480px
    }
    .product-detail-box>section{
        margin: auto;
    }
    
  
}
@media (max-width:540px){
    header>section{
        width: 300px;
    }
    .product-detail-box>section{
        margin: auto;
    }

}
@media (max-width:670px){
    .similar-products-box h1 {
        box-shadow: none;
        margin-right: 10px;
    }
}
