<section class="product_box">
    <img src="{{url_for('static' , filename='cover/'+p.id|string+'.jpg')}}">
    <span class="tag"><img src="{{url_for('static' , filename='icon/delivery.png')}}">ارسال سریع و رایگان</span>
    
    {% if p.name == 'ترنچ کت ماهانا' or p.name=='کت مشکی ونوس' or p.name=='کت دو دکمه جیب نما الیسا' %}
            <span class="tag2">20% تخفیف</span>
        {% endif %}

        {% if p.name=='تونیک مانتویی شانتون آسمان' or p.name=='کراپ طرح 24'%}
        <span class="tag2" id="tag2" ><b>شارژ شده</b></span>
    {% endif %}


    <h3>{{ p.name }}<br> {{ "{:,}".format(p.price) }} تومان</h3>
    <a href="{{url_for('general.product',id=p.id,name=p.name)}}">جزییات بیشتر</a>
    

    
</section>
