{% extends 'base.html' %}


{% block header %}
<title>edit_product</title>



{% endblock %}


{% block body %}




<form action="#" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="text" name="name" value="{{ product.name }}" placeholder="نام محصول"><br>
    <textarea name="description" placeholder="توضیحات">{{ product.description }}</textarea><br>
    <input type="number" name="price" value="{{ product.price }}" placeholder="قیمت محصول (تومان)"><br>
    <label>فعال :</label><input type="checkbox" name="active" value="1" {{ "checked" if product.active==1 }}><br>
    <input type="submit">

</form>
{% endblock %}