{% extends 'base.html' %}


{% block header %}
<title>{{product.name}}</title>

{% endblock %}

{% block body %}

{% include 'part/header.html' %}

<div class="product-detail-box" id="margin_box">
    <div>
        <img style="width: 380px;
        margin: 20px 10px ;border-radius: 10px;"
            src="{{url_for('static' , filename='cover/'+product.id|string+'.jpg')}}">
    </div>
    <section>
        <h1> {{product.name}}</h1>
        کد محصول:{{product.description }} <br>
        قیمت محصول:<b>{{ "{:,}".format(product.price) }} تومان</b><br>
        <label>رنگ بندی:</label>

        {% if product.name == 'ترنچ کت ماهانا' or product.name=='کت مشکی ونوس' or product.name=='کت دو دکمه جیب نما
        الیسا'
        or product.name=='تونیک مانتویی شانتون آسمان' %}
        <select class="product-colors">
            <option>مشکی</option>
            <option>آبی</option>
            <option>قهوه ای </option>
        </select>
        {% endif %}

        {% if product.name == 'کت لنین نیلارز' or product.name=='کراپ طرح 24' or product.name=='ترنچ کت اونتوس' %}
        <select class="product-colors">
            <option>صورتی</option>
            <option>سبزآبی</option>
            <option>نارنجی</option>
        </select>
        {% endif %}

        {% if product.name=='شومیز تک جیب ' %}
        <select class="product-colors">
            <option>سفید</option>
            <option> کرمی</option>

        </select>
        {% endif %}


        <div class="add-to-cart">
            <img src="{{url_for('static' , filename='icon/cart.png')}}">
            <a href="/add-to-cart" id="{{ product.id  }}"> افزودن به سبد خرید</a>
        </div>
        <span class="tag-in-product"><img src="{{url_for('static' , filename='icon/delivery.png')}}">ارسال سریع و
            رایگان</span>
        <span class="tag-in-product"><img src="{{url_for('static' , filename='icon/pay.png')}}">پرداخت امن
        </span>
    </section>
</div>


<section class="similar-products-box">
    <h1>محصولات مشابه:</h1>
    <section class="products">
        {% for p in another_products %}
        {% include 'part/product_box.html' %}
        {% endfor %}
    </section>
</section>






{% endblock %}

